#original-img, #edited-img {
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;
}

body {
    max-width: 1000px;
}

h6 {
    text-align: left;
}

h5 {
    text-align: center;
}

.card {
    min-width: 500px;
}