#original-img, #edited-img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

body {
    max-width: 1000px;
}

h6 {
    text-align: left;
}

h5 {
    text-align: center;
}

.card {
    min-width: 500px;
}

#filters-title {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}


select {
    background-color: rgba(0,0,0,.055);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

select:hover {
    background-color: rgba(0,0,0,.11);
    border: 1px solid gray;
}
